<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mint TMS</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{Login.css}"/>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-primary">注销</button>
</form>
</body>
</html>