<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mint TMS</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{Login.css}"/>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!--<input type="text" name="userName" value="James Carrot" th:value="${user.name}"/>-->

<!--<input type=“submit” value=“Subscribe&nbsp;me!” th:attr=“value=#{submit}”/>-->
<!--<input type=“submit” value=“Subscribe&nbsp;me!” th:value=“#{submit}”/>-->

<!--<img src=“logo.png” th:attr=“title=#{logo},alt=#{logo}” >-->
<form th:action="@{/logout}" method="post">
    <button class="btn btn-primary">注销</button>
</form>
</body>
</html>